body {background-color: white;}
p
{
	font-family: helvetica;
	font-size: 17px;
	color: black;
}
.square {
	background-color: transparent;
	width: 650px;
	height: 1000px;
	position: absolute;
	top: 95%;
	left: 30%;
}
.titles {
	font-family: helvetica;
	font-size: 30px;
	font-weight:bolder;
	color: #FF0000;
}
.subtitles {
	font-family: helvetica;
	font-size: 16px;
	color: #FF0000;
	font-weight: bold;
}
.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.largetext {
	font-family: helvetica;
	font-size: 40px;
	font-weight:bolder;
	color: #FF0000;
}
.home {
	position:absolute;
	left: 50px;
	top: 2250px;
}