.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading{
  letter-spacing: 0.5rem;
  font-family: helvetica;
  color: black;
}

span{
  display: inline-block;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out
}

.fade{
 opacity: 1;
 transform: translateY(0);
}