body {background-color: white;}
p
{
	font-family: didot;
	font-size: large;
	color: black;
}
h1
{
	font-family: "Times New Roman"
	font-size: 16px;
	text-align: center;
	color: black;
	background-color: white
}
a:link,
a:visited {
	color: white;
}
a:hover {
	color: pink;
}
a:active {
	color: #006400;
}
a.highlight:hover {
	color: white;
}
.Container {
	position:relative;
	text-align: center;
	color: #00000;
}
.centered {
	font-size: 45px;
	font-family: didot;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.circle {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 55%;
	left:47%;
}
.rectangle3 {
	background-color: black;
	height: 30px;
	width: 93px;
	position: absolute;
	top: 58%;
	left:46.5%;
}
.square1 {
	background-color: black;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 69px;
	left: 41px;
}
.click {
	font-family: "helvetica";
	font-size: 16px;
	color: #FAF0E6;
	position: absolute;
	top: 59%;
	left:47.25%;
}
.rectangle {
	background-color: black;
	width: 140px;
	height: 20px;
	position: absolute;
	top: 69px;
	left: 67px;
}
.aboutthisspace {
	font-family: helvetica;
	font-size: 15px;
	color: #FAF0E6;
	position: absolute;
	top: 69px;
	left: 77px;
}
.square {
	background-color: white;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.square2 {
	background-color: black;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 95px;
	left: 41px;
}
.rectangle2 {
	background-color: black;
	width: 20px;
	height: 900px;
	position: absolute;
	top: 121px;
	left: 41px;
}